.ak {
    display: flex;
    justify-content: space-between;

    text-align: right;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    color: hsl(0, 9%, 96%);
    background-color: rgb(17, 8, 85);
    padding: 10px;
    
    
}
.yyt{
    padding-top: 30px;
}
.ak a{
    color: white;
    text-decoration: none;
    margin: 10px;

}
.trt{
    width: 150px;
}
.qq {

    padding-top: 20px;
    margin: 10px;
}
.jj{
    width: 50px;
}
a.active{
    text-decoration: none;
    background-color: rgb(218, 2, 193);
    padding: 5px 8px;
    border-radius: 6px;
    color: white;
}

.ff:hover{
    color: rgb(241, 237, 239);
    text-decoration: none;
    background-color: rgb(252, 13, 160);
    padding: 5px 8px;
    border-radius: 6px;
}
img{
    width: 500px;

}





.ab{
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.ac{
    margin-left:130px ;
    color: rgb(6, 5, 5);
    font-size: larger;
    font-weight: 600;
    font-style: oblique;
}
.im{
    width: 500px;
    display: flex;
}